.head-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    border: solid 1px;
}

.head-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.services-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 700px;
    border: solid 1px;
}

.services-content-item {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 350px;
    background-color: rgb(33, 33, 33);
    border: solid 1px;
    margin: 30px;
}

.services-content-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 150px;
    margin-top: 12.5px;
    background-color: white;
}

.services-content-img {
    object-fit: cover;
    object-position: center;
}

.services-content-title {
    position: absolute;
    width: 225px;
    margin-top: 180px;
    font-size: 1.5em;
    color: white;
}

.services-content-description {
    position: absolute;
    width: 225px;
    margin-top: 225px;
    align-text: center;
    color: white;
}

.services-content-src {
    position: absolute;
    margin-top: 150px;
    margin-left: 120px;
    color: white;
    font-size: .60em;
    font-family: arial;
    font-weight: normal;
    text-decoration: none;
}

.license {
    color: white;
    font-family: arial;
    font-weight: normal;
    text-decoration: none;
}
