.services-preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: lightgrey;
    border: solid 1px;
}

.services-preview-item{
    min-width: 300px;
    height: 400px;
    background-color: rgb(33, 33, 33);
    border: solid 1px;
    margin: 60px;
}

.services-preview-img-wrapper {
    width: 275px;
    height: 165px;
    border: solid 1px;
    margin-top: 12.5px;
    margin-left: auto;
    margin-right: auto;
    border: solid white 1px;
}

.services-preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

@media only screen and (max-width: 775px){
    .services-preview-wrapper {
        flex-direction: column;
    }     
}
