.slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    border: solid .5px;
    margin: 0;
    padding: 0;
}

.slideshow-img {
}

.btn-next {
    position: absolute;
    backgrouond-color: white;
    margin-left: 30px;
}

.btn-prev {
    position: absolute;
    backgrouond-color: white; 
    margin-right: 30px;
}
